*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}


.home{
    min-height: 100vh;

}

body{
    background-image: url(/MULTIMEDIA/IMG/4_Body.jpg);
    background-size: cover;
    background-position: center;
}

header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
header .barraDeNavegacion {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
}


.barraDeNavegacion .logo {
    color: var(--white-color);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}


.navigation .elementosDeLaBarra a{
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    font-family: 'Poppins', sans-serif;
}
.navigation .elementosDeLaBarra a i{
    display: none;
}
.navigation .elementosDeLaBarra a:not(:last-child){
    margin-right: 45px;
}

.section {
    font-family: 'Poppins', sans-serif;
}

.formularioBusqueda h2{
    font-family: 'Poppins', sans-serif;
}
.formularioBusqueda form label {
    font-family: 'Poppins', sans-serif;
}
.formularioBusqueda form select{
    font-family: 'Poppins', sans-serif;
}
.formularioBusqueda form input[type="date"]{
    font-family: 'Poppins', sans-serif;
    width: ;
}
.formularioBusqueda form input[type="number"]{
    font-family: 'Poppins', sans-serif;
}
.formularioBusqueda form input[type="submit"] {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    width: 50%; 
    margin-left: 25%; 
}


.formularioBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.formulario-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    max-width: 500px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-container select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

